In [3]:
from sklearn.datasets import load_boston
from sklearn.model_selection import cross_validate
import statistics
import pandas as pd

In [4]:
X, y = load_boston(return_X_y=True)
median = statistics.median(y)
y = [int(x>median) for x in y]
nr_folds = 10

In [140]:
##logistic regression

import sklearn.linear_model as lm

logistic_regression = lm.LogisticRegression(solver = 'liblinear', warm_start = True)
cv_results_lr = cross_validate(logistic_regression, X, y, cv=nr_folds, error_score='raise', return_train_score=True)

df_lr = pd.DataFrame(data=cv_results_lr)
df_lr.loc['mean'] = df_lr.mean()
df_lr

      fit_time  score_time  test_score  train_score
0     0.006036    0.001081    0.921569     0.868132
1     0.004448    0.000964    0.803922     0.894505
2     0.004985    0.000000    0.764706     0.883516
3     0.007102    0.000875    0.901961     0.872527
4     0.006788    0.000951    0.627451     0.896703
5     0.005983    0.001033    0.921569     0.879121
6     0.005024    0.000993    1.000000     0.868421
7     0.004955    0.000000    1.000000     0.864035
8     0.004234    0.000000    0.860000     0.888158
9     0.005939    0.000000    0.640000     0.905702
mean  0.005549    0.000590    0.844118     0.882082

In [29]:
##LDA 

import sklearn.discriminant_analysis as dm

linear_discriminant_analysis = dm.LinearDiscriminantAnalysis(solver = 'svd') #'lsqr', 'eigen'

cv_results_lda = cross_validate(linear_discriminant_analysis, X, y, cv=nr_folds, error_score='raise', return_train_score=True)

df_lda = pd.DataFrame(data=cv_results_lda)
df_lda.loc['mean'] = df_lda.mean()
df_lda

      fit_time  score_time  test_score  train_score
0     0.001325    0.000998    0.901961     0.863736
1     0.002992    0.000000    0.705882     0.865934
2     0.002993    0.000000    0.784314     0.868132
3     0.002991    0.000000    0.862745     0.850549
4     0.001995    0.000997    0.509804     0.898901
5     0.002990    0.000000    0.921569     0.846154
6     0.001994    0.000000    1.000000     0.844298
7     0.001995    0.000000    0.980000     0.844298
8     0.001995    0.000000    0.820000     0.850877
9     0.001996    0.000997    0.600000     0.883772
mean  0.002327    0.000299    0.808627     0.861665

In [46]:
##KNN

import sklearn.neighbors as knn

k_nearest_neighbours = knn.KNeighborsClassifier(n_neighbors = 10) #biased?

cv_results_knn = cross_validate(k_nearest_neighbours, X, y, cv=nr_folds, error_score='raise', return_train_score=True)

df_knn = pd.DataFrame(data=cv_results_knn)
df_knn.loc['mean'] = df_knn.mean()
df_knn

      fit_time  score_time  test_score  train_score
0     0.000000    0.003989    0.372549     0.821978
1     0.000000    0.001975    0.666667     0.852747
2     0.000000    0.001995    0.509804     0.841758
3     0.000000    0.001994    0.666667     0.821978
4     0.000000    0.001994    0.529412     0.848352
5     0.000998    0.000997    0.843137     0.835165
6     0.000997    0.000997    0.940000     0.820175
7     0.000000    0.001994    0.960000     0.817982
8     0.000998    0.000997    0.820000     0.822368
9     0.000998    0.000997    0.520000     0.859649
mean  0.000399    0.001793    0.682824     0.834215

In [78]:
##decision tree
import sklearn.tree as tree

decision_tree = tree.DecisionTreeClassifier(min_samples_split = 2, min_samples_leaf = 2)

cv_results_dt = cross_validate(decision_tree, X, y, cv=nr_folds, error_score='raise', return_train_score=True)
bagging_results_dt = ens.BaggingClassifier(decision_tree, n_estimators = 100)

df_dt = pd.DataFrame(data=cv_results_dt)
df_dt.loc['mean'] = df_dt.mean()
df_dt

      fit_time  score_time  test_score  train_score
0     0.001607    0.000998    0.823529     0.978022
1     0.001993    0.000000    0.745098     0.973626
2     0.001995    0.000000    0.725490     0.975824
3     0.002026    0.000000    0.568627     0.982418
4     0.002025    0.000968    0.764706     0.975824
5     0.001993    0.000998    0.823529     0.969231
6     0.001995    0.000996    0.940000     0.973684
7     0.002028    0.000000    0.980000     0.962719
8     0.001977    0.001002    0.900000     0.971491
9     0.001995    0.000997    0.640000     0.986842
mean  0.001963    0.000596    0.791098     0.974968

In [86]:
##decision tree with bagging
import sklearn.tree as tree
import sklearn.ensemble as ens

bagging_decision_tree = ens.BaggingClassifier(base_estimator = tree.DecisionTreeClassifier(min_samples_split = 2, min_samples_leaf = 2))

cv_results_dt_bagging = cross_validate(bagging_decision_tree, X, y, cv=nr_folds, error_score='raise', return_train_score=True)

df_dt_bagging = pd.DataFrame(data=cv_results_dt_bagging)
df_dt_bagging.loc['mean'] = df_dt_bagging.mean()
df_dt_bagging

      fit_time  score_time  test_score  train_score
0     0.017952    0.000997    0.882353     0.982418
1     0.014959    0.001993    0.784314     0.975824
2     0.014996    0.001001    0.882353     0.978022
3     0.013999    0.000996    0.568627     0.975824
4     0.012968    0.000998    0.666667     0.975824
5     0.013965    0.000956    0.823529     0.973626
6     0.013963    0.001000    0.960000     0.978070
7     0.014923    0.000997    0.980000     0.975877
8     0.014000    0.001005    0.900000     0.978070
9     0.011969    0.001001    0.640000     0.993421
mean  0.014369    0.001094    0.808784     0.978698

In [87]:
##Random forest classifier
import sklearn.ensemble as ens

random_forrest_classifier = ens.RandomForestClassifier(n_estimators = 100)

cv_results_rfc = cross_validate(random_forrest_classifier, X, y, cv=nr_folds, error_score='raise', return_train_score=True)

df_rfc = pd.DataFrame(data=cv_results_rfc)
df_rfc.loc['mean'] = df_rfc.mean()
df_rfc

      fit_time  score_time  test_score  train_score
0     0.082410    0.004986    0.862745          1.0
1     0.085769    0.005984    0.784314          1.0
2     0.072805    0.003989    0.784314          1.0
3     0.074800    0.004987    0.627451          1.0
4     0.072805    0.004987    0.627451          1.0
5     0.073802    0.004987    0.843137          1.0
6     0.074800    0.003989    0.980000          1.0
7     0.075799    0.004987    0.960000          1.0
8     0.088762    0.005984    0.880000          1.0
9     0.084773    0.005985    0.640000          1.0
mean  0.078653    0.005086    0.798941          1.0

In [142]:
## Summary
import seaborn as sns

df_summary = pd.DataFrame(index=[], columns=['test_score', 'train_score'])
df_summary.loc['logistic regression'] = df_lr.iloc[[-1], [2,3]].values.tolist()[0]
df_summary.loc['LDA'] = df_lda.iloc[[-1], [2,3]].values.tolist()[0]
df_summary.loc['KNN'] = df_knn.iloc[[-1], [2,3]].values.tolist()[0]
df_summary.loc['dicision tree'] = df_dt.iloc[[-1], [2,3]].values.tolist()[0]
df_summary.loc['dicision tree + bagging'] = df_dt_bagging.iloc[[-1], [2,3]].values.tolist()[0]
df_summary.loc['random forest classifier'] = df_rfc.iloc[[-1], [2,3]].values.tolist()[0]

cm = sns.light_palette("green", as_cmap=True)
#df_summary = df_summary.style.background_gradient(cmap=cm)

df_summary

                          test_score  train_score
logistic regression         0.844118     0.882082
LDA                         0.808627     0.861665
KNN                         0.682824     0.834215
dicision tree               0.809020     0.977382
dicision tree + bagging     0.808784     0.978698
random forest classifier    0.798941     1.000000